BOT_TOKEN=YOUR_BOT_TOKEN_HERE
DATABASE_URL=postgresql://postgres.oepaehxvhfmmzwpdyihp:a07325655))@aws-1-eu-central-1.pooler.supabase.com:5432/postgres
MINI_APP_URL=https://YOUR_RENDER_URL.onrender.com/app
PORT=8080
